:root{
    --mainColor: #000;
    --objectColor: #212529;
    --textColor: white;
}

/*---------------------------------------------*/
/*                  GENERAL                    */
/*---------------------------------------------*/

/* h2 {
    background: linear-gradient(rgba(187,187,187,1) 0%, rgba(255,255,255,1) 58%); 
    
} */

h2 {
    font-size: 50px;
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(170, 170, 170));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Alfa Slab One';
}

body {
    /* background-color: var(--mainColor); */
    background: url('../img/pexels-koolshooters-6621701.jpg') var(--mainColor);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}

/*---------------------------------------------*/
/*                   INDEX                     */
/*---------------------------------------------*/

#header {
    background-color: var(--objectColor);
    text-align: center;
    height: 8%;
}

#container {
    width: 80%;
    margin: auto;
    box-shadow: 0px 0px 20px 4px var(--mainColor);
    background-color: var(--mainColor);
}

#table {
    padding-top: 20%;
    border-color: var(--textColor);
}

#checkbox1 {
    width: 20px;
    height: 20px;
}

.btn.btn-light {
    width: 40px;
}

.btn.btn-outline-light {
    width: 80px;
}